* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body{
    background: gray;
}

.header__nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav-list {
    display: flex;
    gap: 40px;
}

.header__nav-link,
.header__nav-dropdown-link {
    display: flex;
    align-items: center;
    gap: 4px;
    font-family: 'PR';
    font-weight: 400;
    font-size: 12px;
    color: #000;
}

.header__nav-dropdown-link {
    padding: 12px 30px;
}

.header__nav-dropdown-link:hover {
    background: #41a28e;
    color: white;
}

.line {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.header__nav-li {
    position: relative;
}

.header__nav-li:hover    .header__nav-dropdown {
    opacity: 1;
    z-index: 1;
}

.header__nav-dropdown {
    z-index: -1;
    opacity: 0;
    position: absolute;
    top: 16px;
    left: 0;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    width: 160px;
    background: #fff;
}

.header__nav {
    padding: 25px 0;
}

.header__nav-form {
    display: flex;
    gap: 4px;
}

.header__nav-input {
    border: 1px solid #41a28e;
    max-width: 180px;
    width: 100%;
    height: 28px;
    outline: none;
    padding: 0 12px;
}

.header__nav-input::placeholder {
    font-family: 'RR';
    font-weight: 400;
    font-size: 14px;
    color: #4b4848;
}

.header__nav-btn {
    width: 28px;
    height: 28px;
    background: #41a28e;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__content {
    background: url(../images/content.jpg) no-repeat center /cover;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.header__content-title {
    font-family: 'PR';
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    padding: 17px 60px;
}

.header__content-text {
    font-family: 'PR';
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    text-shadow: 6px 6px 5px 0 rgba(0, 0, 0, 0.38);
}

.header__content-link {
    width: 131px;
    height: 59px;
    background: #fff;
    font-family: "PR";
    font-weight: 400;
    font-size: 12px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
}

.header__content-link:hover {
    background: #41a28e;
    color: #fff;
    
}

.commerce{
    padding-top: 48px;
    padding-bottom: 72px;
}

.commerce__box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
    text-align: center;
}

.commerce__item{
    max-width: 255px;
    width: 100%;
    position:relative;
    overflow: hidden;
    cursor: pointer;
}

.commerce__item-img{
    display: block;
}

.commerce__item:hover  .commerce__item-title{
    bottom: 0;
}

.commerce__item-title{
    transition: 300ms;
    position: absolute;
    bottom: -21%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.38);
    font-size: 25px;
    font-family: 'PR';
    font-weight: 400;
    text-align: center;
    color: #fff;
}


